awscli==1.18.203
botocore==1.19.43
colorama==0.4.3
docutils==0.15.2
dpath==2.0.1
Jinja2==2.11.2
jinja2-ansible-filters==1.3.0
jmespath==0.10.0
MarkupSafe==1.1.1
pyasn1==0.4.8
python-dateutil==2.8.1
PyYAML==5.3.1
rsa==4.5
s3transfer==0.3.3
six==1.15.0
urllib3==1.26.2
aws-mfa==0.0.12
click==7.1.2
